{% extends "layout.html" %}
{% block content %}

	

    <!-- <form action="/readFile1" method="POST" enctype="multipart/form-data">
        <h1>File read Question 6</h1>
        
        <button type = "submit" value="Submit"> Submit </button><br><br>
    </form>

    <form action="/readFile2" method="POST" enctype="multipart/form-data">
        <h1>File read Question 8</h1>
        <label for="one">Enter the Country :</label><br>
        <input type="text" id="one" name="one" value = 4><br><br>
        
        <button type = "submit" value="Submit"> Submit </button><br><br>
    </form>

    <form action="/readFile3" method="POST" enctype="multipart/form-data">
        <h1>File read Question 9</h1>
         <label for="one">Enter the Country :</label><br>
        <input type="text" id="one" name="one" value = 4><br><br> -->
        
        <!-- <button type = "submit" value="Submit"> Submit </button><br><br>
    </form>


    <form action="/readFile4" method="POST" enctype="multipart/form-data">
        <h1>File read Question 10</h1>
        <label for="value">Enter the Keyword :</label><br>
        <input type="text" id="value" name="value" ><br><br> 
        
        <button type = "submit" value="Submit"> Submit </button><br><br>
    </form> -->

     <!-- <form action="/readFile5" method="POST" enctype="multipart/form-data">
         <h1>File read bygram</h1> 
      
        <label for="value">Enter the html:</label><br>
        <input type="text" id="value" name="value" ><br><br>  
        <button type = "submit" value="Submit"> Submit </button><br><br>
    </form>  -->
<!-- 

    <form action="/q1" method="POST" enctype="multipart/form-data">
        <label for="value">Enter the Keyword :</label><br>
        <input type="text" id="value" name="value" ><br><br> 

        
        <button type = "submit" value="Submit"> Submit </button><br><br>
    </form>

    <form action="/q11" method="POST" enctype="multipart/form-data">
        <label for="value">Enter the Number for most freq :</label><br>
        <input type="int" id="value" name="N" value=5 ><br><br> 
 
        
        <button type = "submit" value="Submit"> Submit </button><br><br>
    </form>


    <form action="/q2" method="POST" enctype="multipart/form-data">
        <br>
        <label>run seventh query: </label> <br>
        
        <input type="submit" value="submit">   
    </form>


    <form action="/q8" method="POST" enctype="multipart/form-data">
        <br>
        <label>run eight query: </label> <br>
        <laber>Enter the First Word:</laber>
        <input type="text" value="" name="one"><br>
        <laber>Enter the Second Word:</laber>
        <input type="text" value="" name="two"><br>
        <br>
        <input type="submit" value="submit">   
    </form>
    
    <form action="/q9" method="POST" enctype="multipart/form-data">
        <br>
        <label>run nine query: </label> <br>
        <laber>Enter the First Word that you want to replace:</laber>
        <input type="text" value="" name="one"><br>
        <laber>Enter the Second Word that you want to replace:</laber>
        <input type="text" value="" name="two"><br>
        <laber>Enter the word whic you want to replace with first word:</laber>
        <input type="text" value="" name="three"><br>
        <laber>Enter the word whic you want to replace with second word:</laber>
        <input type="text" value="" name="four"><br>
        <br>
        <input type="submit" value="submit" class="">   
    </form> -->
   
<!-- 
    <form action="/b1" method="POST" enctype="multipart/form-data">
        <br>
        <label>Bonus 11: </label> <br>
        <laber>Enter the First Word:</laber>
        <input type="text" value="important" name="one"><br>
      
        <input type="submit" value="submit">   
    </form> -->


    <!-- <form action="/b2" method="POST" enctype="multipart/form-data">
        <br>
    
        <laber>Enter the word you need to remove from stop words:</laber>
        <input type="text" value="" name="one"><br>
      
        <input type="submit" value="submit">   
    </form> -->


    <!-- <form action="/box" method="POST" enctype="multipart/form-data"> -->
        <!-- <h1>HI I AM BOX</h1> -->
        <!-- <label> Elevation </label><br>
        <label>Lat1 : </label> <input type="number" name="range1" step="any"><br>
        <label>Lat2: </label> <input type="number" name="range2" step="any"> <br>
        <label>Long1 : </label> <input type="number" name="range3" step="any"><br>
        <label>Long2: </label> <input type="number" name="range4" step="any"> <br>
        <input type="submit" value="search" class="btn btn-primary">
    </form> -->



    <form action="/t1" method="POST" enctype="multipart/form-data">
        <br>
    
        <laber>Enter Teacher's Name:</laber>
        <input type="text" value="" name="one"><br>
      
        <input type="submit" value="submit">   
    </form>
<!-- <h1 style="color: red;">OR </h1>

    <form action="/s1" method="POST" enctype="multipart/form-data">
        <br>
    
        <laber>Enter Students Name:</laber>
        <input type="text" value="" name="two"><br>
      
        <input type="submit" value="submit">   
    </form> -->




{% endblock content %}