<h1>student page</h1>

<h2>Question is {{output1}}</h2>
<h2>Question is {{output2}}</h2>
<h2>Question is {{output3}}</h2>


<form  action="/Ans" method="POST" enctype="multipart/form-data">
    <laber>ENter the Student name:</laber>
    <input type="text" value="" name="name"><br>


    <laber>ENter the ans for q 1 :</laber>
    <input type="text" value="" name="ans1"><br>

    <laber>ENter the ans for q 2 :</laber>
    <input type="text" value="" name="ans2"><br>
    <laber>ENter the ans for q 3 :</laber>
    <input type="text" value="" name="ans3"><br>
  
    <input type="submit" value="submit">


</form>