<!DOCTYPE html>
<html>
    <head>
        <link href="./img/favicon.png" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="yes" name="mobile-web-app-capable"/>
        <meta content="default" name="apple-mobile-web-app-status-bar-style"/>
        <!-- Facebook -->
        <meta content="" property="og:url"/>
        <meta content="website" property="og:type"/>
        <!-- Twitter -->
        <meta content="photo" name="twitter:card"/>
        <link href="./css/homecopy.css" rel="stylesheet" type="text/css"/>
        <meta content="AnimaApp.com - Design to code, Automated." name="author"/>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="homecopy"/>
        <div class="bp1-homecopy anima-word-break ">
            <div style="width: 414px; height: 100%; position:relative; margin:auto;">
                <div class="bp1-rectangle">
                    <iframe allowfullscreen="" aria-hidden="false" frameborder="0" height="1000" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d932492.1675053007!2d-122.28009460413412!3d37.208665027639825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x279ae180a6f8a82f!2sYard%20House!5e0!3m2!1sen!2sus!4v1598864083285!5m2!1sen!2sus" style="border:0;" tabindex="0" width="600">
                    </iframe>
                </div>
                <div class="bp1-ordertype">
                    <div class="bp1-searchrestaurant">
                        <img alt="Image/" anima-src="./img/1HDC-home1-copy-rectangle-6@2x.png" class="bp1-rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp1-pickup">
                            Pickup
                        </div>
                    </div>
                    <div class="bp1-searchrestaurantcopy2">
                        <div class="bp1-rectangle2">
                        </div>
                        <div class="bp1-delivery">
                            Delivery
                        </div>
                    </div>
                    <div class="bp1-searchrestaurantcopy3">
                        <img alt="Image/" anima-src="./img/8ySp-home-copy-rectangle-1@2x.png" class="bp1-rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp1-dinein">
                            Dine-in
                        </div>
                    </div>
                </div>
                <div class="bp1-searchrestaurantcopy">
                    <img alt="Image/" anima-src="./img/70G7-home1-rectangle-2.png" class="bp1-rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img alt="Image/" anima-src="./img/mslL-home2-copy-combined-shape@2x.png" class="bp1-combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="bp1-restaurants">
                        Restaurants
                    </div>
                    <div class="bp1-sanjoseca">
                        San Jose, CA
                    </div>
                </div>
                <a href="home2copy.html">
                    <img alt="Image/" anima-src="./img/hcin-home-copy-rectangle-3.png" class="bp1-rectangle1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </a>
                <img alt="Image/" anima-src="./img/uM1w-home2-copy-line@2x.png" class="bp1-line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="bp1-group">
                    <img alt="Image/" anima-src="./img/4yfq-iphone-se-copy-5-oval@2x.png" class="bp1-oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img alt="Image/" anima-src="./img/4yfq-iphone-se-copy-5-oval@2x.png" class="bp1-ovalcopy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img alt="Image/" anima-src="./img/4yfq-iphone-se-copy-5-oval@2x.png" class="bp1-ovalcopy2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img alt="Image/" anima-src="./img/HzHq-home1-line-2@2x.png" class="bp1-line2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img alt="Image/" anima-src="./img/HzHq-home1-line-2@2x.png" class="bp1-line2copy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img alt="Image/" anima-src="./img/SKaw-iphone-se-copy-3-line-2-copy-2@2x.png" class="bp1-line2copy2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="bp1-listcontent">
                    <div class="bp1-refinebtun">
                        <div class="bp1-filtersicon">
                            <img alt="Image/" anima-src="./img/ZRp8-home2-copy-line-4@2x.png" class="bp1-line4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/ZRp8-home2-copy-line-4@2x.png" class="bp1-line4copy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/xUgq-iphone-se-copy-4-oval-1@2x.png" class="bp1-oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/xUgq-iphone-se-copy-4-oval-1@2x.png" class="bp1-ovalcopy3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/85zy-iphone-se-copy-oval-2@2x.png" class="bp1-oval1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/85zy-iphone-se-copy-oval-2@2x.png" class="bp1-oval2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="bp1-buttonoutline">
                            <img alt="Image/" anima-src="./img/bpE2-home1-copy-rectangle-3@2x.png" class="bp1-rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="bp1-refine">
                                Refine
                            </div>
                        </div>
                    </div>
                    <div class="bp1-refinebtuncopy">
                        <div class="bp1-buttonoutline">
                            <img alt="Image/" anima-src="./img/bpE2-home1-copy-rectangle-3@2x.png" class="bp1-rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="bp1-cuisines">
                                Cuisines
                            </div>
                        </div>
                        <img alt="Image/" anima-src="./img/Sz8P-home-cuisine-icon@2x.png" class="bp1-cuisineicon" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="bp1-button">
                        <div class="bp1-buttonoutline">
                            <img alt="Image/" anima-src="./img/vYub-home2-copy-rectangle-4@2x.png" class="bp1-rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="bp1-price">
                                Price
                            </div>
                        </div>
                        <div class="bp1-dotsicon">
                            <img alt="Image/" anima-src="./img/QpbH-home1-copy-oval-copy-5@2x.png" class="bp1-oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/QpbH-home1-copy-oval-copy-5@2x.png" class="bp1-ovalcopy4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/QpbH-home1-copy-oval-copy-5@2x.png" class="bp1-ovalcopy5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="bp1-restaurantbutn">
                        <div class="bp1-rectangle2">
                        </div>
                        <div class="bp1-bitmap">
                            <img alt="Image/" anima-src="./img/PVgy-home-copy-mask-1@2x.png" class="bp1-mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/1nFw-home-copy-bitmap@2x.png" class="bp1-bitmap1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="bp1-content">
                            <div class="bp1-sanjoseca">
                                San Jose, CA
                            </div>
                            <div class="bp1-american">
                                $$ American
                            </div>
                            <div class="bp1-a1000reviews">
                                1,000 Reviews
                            </div>
                            <div class="bp1-rating">
                                <div class="bp1-star1">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy2">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy3">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy4">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                            </div>
                            <div class="bp1-yardhouse">
                                Yard House
                            </div>
                            <div class="bp1-a15mi">
                                1.5mi
                            </div>
                        </div>
                    </div>
                    <div class="bp1-restaurantbutncopy">
                        <div class="bp1-rectangle2">
                        </div>
                        <div class="bp1-content">
                            <div class="bp1-breaca">
                                Brea, CA
                            </div>
                            <div class="bp1-brunch">
                                $$ Brunch
                            </div>
                            <div class="bp1-a1000reviews">
                                1,000 Reviews
                            </div>
                            <div class="bp1-rating">
                                <div class="bp1-star1">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy2">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy3">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy4">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                            </div>
                            <div class="bp1-elu2019scafe">
                                El’s Cafe
                            </div>
                            <div class="bp1-a15mi">
                                1.5mi
                            </div>
                        </div>
                        <div class="bp1-bitmap">
                            <img alt="Image/" anima-src="./img/PVgy-home-copy-mask-1@2x.png" class="bp1-mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/GejW-home-bitmap-1@2x.png" class="bp1-bitmap1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="bp1-restaurantbutncopy2">
                        <div class="bp1-rectangle2">
                        </div>
                        <div class="bp1-bitmap">
                            <img alt="Image/" anima-src="./img/PVgy-home-copy-mask-1@2x.png" class="bp1-mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/4YFn-home-bitmap-2@2x.png" class="bp1-bitmap1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="bp1-content">
                            <div class="bp1-sanjoseca">
                                San Jose, CA
                            </div>
                            <div class="bp1-american">
                                $$ American
                            </div>
                            <div class="bp1-a1000reviews">
                                1,000 Reviews
                            </div>
                            <div class="bp1-rating">
                                <div class="bp1-star1">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy2">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy3">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy4">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                            </div>
                            <div class="bp1-goodbrunch">
                                Good Brunch
                            </div>
                            <div class="bp1-a15mi">
                                1.5mi
                            </div>
                        </div>
                    </div>
                    <div class="bp1-opennow">
                        <div class="bp1-buttonoutline">
                            <img alt="Image/" anima-src="./img/znh8-home1-rectangle-7@2x.png" class="bp1-rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="bp1-opennow1">
                                Open Now
                            </div>
                        </div>
                    </div>
                    <div class="bp1-restaurantbutncopy3">
                        <div class="bp1-rectangle2">
                        </div>
                        <div class="bp1-bitmap">
                            <img alt="Image/" anima-src="./img/PVgy-home-copy-mask-1@2x.png" class="bp1-mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/SmA8-iphone-se-copy-4-bitmap-3@2x.png" class="bp1-bitmap1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="bp1-content">
                            <div class="bp1-sanjoseca">
                                San Jose, CA
                            </div>
                            <div class="bp1-american">
                                $$ American
                            </div>
                            <div class="bp1-a1000reviews">
                                1,000 Reviews
                            </div>
                            <div class="bp1-rating">
                                <div class="bp1-star1">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy2">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy3">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp1-star1copy4">
                                    <div class="bp1-rectangle3">
                                    </div>
                                    <div class="bp1-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                            </div>
                            <div class="bp1-gburger">
                                GBurger
                            </div>
                            <div class="bp1-a15mi">
                                1.5mi
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bp1-tabscopy2">
                    <div class="bp1-tabs">
                        <div class="bp1-rectangle2">
                        </div>
                        <div class="bp1-searchthick">
                            <img alt="Image/" anima-src="./img/wrqj-home2-shape@2x.png" class="bp1-shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="bp1-share1">
                            <img alt="Image/" anima-src="./img/RQYN-home-path-20@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="bp1-soundicon">
                            <img alt="Image/" anima-src="./img/aBNh-home-copy-path-21@2x.png" class="bp1-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/Fi1p-home2-copy-shape-1@2x.png" class="bp1-shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <img alt="Image/" anima-src="./img/qIUQ-home2-copy-combined-shape-1@2x.png" class="bp1-combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
            </div>
        </div>
        <div class="bp2-iphonesecopy4 anima-word-break ">
            <div style="width: 375px; height: 100%; position:relative; margin:auto;">
                <div class="bp2-rectanglecopy2">
                    <iframe allowfullscreen="" aria-hidden="false" frameborder="0" height="1000" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d932492.1675053007!2d-122.28009460413412!3d37.208665027639825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x279ae180a6f8a82f!2sYard%20House!5e0!3m2!1sen!2sus!4v1598864083285!5m2!1sen!2sus" style="border:0;" tabindex="0" width="600">
                    </iframe>
                </div>
                <img alt="Image/" anima-src="./img/IomP-iphone-se-copy-rectangle-copy-3.png" class="bp2-rectanglecopy3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img alt="Image/" anima-src="./img/uM1w-home2-copy-line@2x.png" class="bp2-linecopy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="bp2-groupcopy">
                    <img alt="Image/" anima-src="./img/4yfq-iphone-se-copy-5-oval@2x.png" class="bp2-oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img alt="Image/" anima-src="./img/4yfq-iphone-se-copy-5-oval@2x.png" class="bp2-ovalcopy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img alt="Image/" anima-src="./img/4yfq-iphone-se-copy-5-oval@2x.png" class="bp2-ovalcopy2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img alt="Image/" anima-src="./img/HzHq-home1-line-2@2x.png" class="bp2-line2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img alt="Image/" anima-src="./img/HzHq-home1-line-2@2x.png" class="bp2-line2copy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img alt="Image/" anima-src="./img/SKaw-iphone-se-copy-3-line-2-copy-2@2x.png" class="bp2-line2copy2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <div class="bp2-listcontentcopy">
                    <div class="bp2-refinebtun">
                        <div class="bp2-filtersicon">
                            <img alt="Image/" anima-src="./img/ZRp8-home2-copy-line-4@2x.png" class="bp2-line4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/ZRp8-home2-copy-line-4@2x.png" class="bp2-line4copy" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/xUgq-iphone-se-copy-4-oval-1@2x.png" class="bp2-oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/xUgq-iphone-se-copy-4-oval-1@2x.png" class="bp2-ovalcopy3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/85zy-iphone-se-copy-oval-2@2x.png" class="bp2-oval1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/85zy-iphone-se-copy-oval-2@2x.png" class="bp2-oval2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="bp2-buttonoutline">
                            <img alt="Image/" anima-src="./img/gtPc-iphone-se-copy-5-rectangle-1@2x.png" class="bp2-rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="bp2-refine">
                                Refine
                            </div>
                        </div>
                    </div>
                    <div class="bp2-refinebtuncopy">
                        <div class="bp2-buttonoutline">
                            <img alt="Image/" anima-src="./img/gtPc-iphone-se-copy-5-rectangle-1@2x.png" class="bp2-rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="bp2-cuisines">
                                Cuisines
                            </div>
                        </div>
                        <img alt="Image/" anima-src="./img/1Fbj-iphone-se-copy-5-cuisine-icon@2x.png" class="bp2-cuisineicon" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                    <div class="bp2-button">
                        <div class="bp2-buttonoutline">
                            <img alt="Image/" anima-src="./img/Wyce-iphone-se-copy-rectangle-2@2x.png" class="bp2-rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="bp2-price">
                                Price
                            </div>
                        </div>
                        <div class="bp2-dotsicon">
                            <img alt="Image/" anima-src="./img/QpbH-home1-copy-oval-copy-5@2x.png" class="bp2-oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/QpbH-home1-copy-oval-copy-5@2x.png" class="bp2-ovalcopy4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/QpbH-home1-copy-oval-copy-5@2x.png" class="bp2-ovalcopy5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="bp2-restaurantbutn">
                        <div class="bp2-rectangle">
                        </div>
                        <div class="bp2-bitmap">
                            <img alt="Image/" anima-src="./img/MIfm-iphone-se-copy-5-mask-2@2x.png" class="bp2-mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/XBFT-iphone-se-copy-2-bitmap@2x.png" class="bp2-bitmap1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="bp2-content">
                            <div class="bp2-sanjoseca">
                                San Jose, CA
                            </div>
                            <div class="bp2-american">
                                $$ American
                            </div>
                            <div class="bp2-a1000reviews">
                                1,000 Reviews
                            </div>
                            <div class="bp2-rating">
                                <div class="bp2-star1">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy2">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy3">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy4">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                            </div>
                            <div class="bp2-yardhouse">
                                Yard House
                            </div>
                            <div class="bp2-a15mi">
                                1.5mi
                            </div>
                        </div>
                    </div>
                    <div class="bp2-restaurantbutncopy">
                        <div class="bp2-rectangle">
                        </div>
                        <div class="bp2-content">
                            <div class="bp2-breaca">
                                Brea, CA
                            </div>
                            <div class="bp2-brunch">
                                $$ Brunch
                            </div>
                            <div class="bp2-a1000reviews">
                                1,000 Reviews
                            </div>
                            <div class="bp2-rating">
                                <div class="bp2-star1">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy2">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy3">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy4">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                            </div>
                            <div class="bp2-elu2019scafe">
                                El’s Cafe
                            </div>
                            <div class="bp2-a15mi">
                                1.5mi
                            </div>
                        </div>
                        <div class="bp2-bitmap">
                            <img alt="Image/" anima-src="./img/MIfm-iphone-se-copy-5-mask-2@2x.png" class="bp2-mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/n0KD-iphone-se-copy-4-bitmap-1@2x.png" class="bp2-bitmap1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                    </div>
                    <div class="bp2-restaurantbutncopy2">
                        <div class="bp2-rectangle">
                        </div>
                        <div class="bp2-bitmap">
                            <img alt="Image/" anima-src="./img/MIfm-iphone-se-copy-5-mask-2@2x.png" class="bp2-mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/2KDu-iphone-se-copy-2-bitmap-5@2x.png" class="bp2-bitmap1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="bp2-content">
                            <div class="bp2-sanjoseca">
                                San Jose, CA
                            </div>
                            <div class="bp2-american">
                                $$ American
                            </div>
                            <div class="bp2-a1000reviews">
                                1,000 Reviews
                            </div>
                            <div class="bp2-rating">
                                <div class="bp2-star1">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy2">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy3">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy4">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/6wgR-iphone-se-copy-2-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                            </div>
                            <div class="bp2-goodbrunch">
                                Good Brunch
                            </div>
                            <div class="bp2-a15mi">
                                1.5mi
                            </div>
                        </div>
                    </div>
                    <div class="bp2-opennow">
                        <div class="bp2-buttonoutline">
                            <img alt="Image/" anima-src="./img/4NxU-iphone-se-copy-3-rectangle-3@2x.png" class="bp2-rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <div class="bp2-opennow1">
                                Open Now
                            </div>
                        </div>
                    </div>
                    <div class="bp2-restaurantbutncopy3">
                        <div class="bp2-rectangle">
                        </div>
                        <div class="bp2-bitmap">
                            <img alt="Image/" anima-src="./img/PVgy-home-copy-mask-1@2x.png" class="bp2-mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/SmA8-iphone-se-copy-4-bitmap-3@2x.png" class="bp2-bitmap1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="bp2-content">
                            <div class="bp2-sanjoseca">
                                San Jose, CA
                            </div>
                            <div class="bp2-american">
                                $$ American
                            </div>
                            <div class="bp2-a1000reviews">
                                1,000 Reviews
                            </div>
                            <div class="bp2-rating">
                                <div class="bp2-star1">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy2">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy3">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                                <div class="bp2-star1copy4">
                                    <div class="bp2-rectangle1">
                                    </div>
                                    <div class="bp2-starbluecopy3">
                                        <img alt="Image/" anima-src="./img/H2E3-iphone-se-copy-9-path-2@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                                    </div>
                                </div>
                            </div>
                            <div class="bp2-gburger">
                                GBurger
                            </div>
                            <div class="bp2-a15mi">
                                1.5mi
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bp2-tabscopy3">
                    <div class="bp2-tabs">
                        <div class="bp2-rectangle">
                        </div>
                        <div class="bp2-searchthick">
                            <img alt="Image/" anima-src="./img/q3pW-iphone-se-copy-3-shape@2x.png" class="bp2-shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="bp2-share1">
                            <img alt="Image/" anima-src="./img/DnYl-iphone-se-copy-7-path@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <div class="bp2-soundicon">
                            <img alt="Image/" anima-src="./img/RouO-iphone-se-copy-6-path-7@2x.png" class="bp2-path" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img alt="Image/" anima-src="./img/oP7O-iphone-se-copy-9-shape-2@2x.png" class="bp2-shape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                        <img alt="Image/" anima-src="./img/N2sk-iphone-se-copy-4-combined-shape@2x.png" class="bp2-combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    </div>
                </div>
                <div class="bp2-searchrestaurantcopy4">
                    <img alt="Image/" anima-src="./img/dVmY-iphone-se-copy-3-rectangle-4.png" class="bp2-rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img alt="Image/" anima-src="./img/Qv6y-iphone-se-copy-4-combined-shape-1@2x.png" class="bp2-combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="bp2-restaurants">
                        Restaurants
                    </div>
                    <div class="bp2-sanjoseca">
                        San Jose, CA
                    </div>
                </div>
                <div class="bp2-ordertypecopy">
                    <div class="bp2-searchrestaurant">
                        <img alt="Image/" anima-src="./img/SNLH-iphone-se-copy-7-rectangle-5@2x.png" class="bp2-rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp2-pickup">
                            Pickup
                        </div>
                    </div>
                    <div class="bp2-searchrestaurantcopy2">
                        <div class="bp2-rectangle">
                        </div>
                        <div class="bp2-delivery">
                            Delivery
                        </div>
                    </div>
                    <div class="bp2-searchrestaurantcopy3">
                        <img alt="Image/" anima-src="./img/5NUN-iphone-se-copy-4-rectangle-6@2x.png" class="bp2-rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        <div class="bp2-dinein">
                            Dine-in
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <script src="https://animaapp.s3.amazonaws.com/static/restart-btn.min.js">
        </script>
        <!-- End of Scripts -->
    </body>
</html>
